<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--初始化配置-->
    <context:component-scan base-package="com.baizhi.*"/>
    <!--引入属性文件-->
    <context:property-placeholder location="classpath:/com.baizhi.mapper/jdbc.properties"></context:property-placeholder>
    <!--配置datasource-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>${jdbc.driverClassName}</value>
        </property>
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
    </bean>
    <!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 连接池 -->
        <property name="dataSource">
            <ref bean="dataSource"></ref>
        </property>
        <!-- 为实体类创建别名 -->
        <property name="typeAliasesPackage">
            <value>com.baizhi.entity</value>
        </property>
        <!-- 注册mapper文件 -->
        <property name="mapperLocations">
            <list>
                <value>classpath:/com.baizhi.mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>
    <!-- 测试类 -->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 获得sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName">
            <value>sqlSessionFactory</value>
        </property>
        <!-- DAO接口所在的包 -->
        <property name="basePackage">
            <value>com.baizhi.dao</value>
        </property>
    </bean>

    <!--事务-->
    <!--通知-->
    <bean id="advisor" class="com.baizhi.agency.LogAgency"></bean>
    <!--切入点,true代表基于cglib,实现类来创建代理类-->
    <aop:config proxy-target-class="true">
        <!--<aop:pointcut id="pc" expression="execution(* com.baizhi.service.BannerService.*(..))"></aop:pointcut>-->
        <aop:pointcut id="pc" expression="@annotation(com.baizhi.annoation.LogAnnoaction)"></aop:pointcut>
        <aop:advisor advice-ref="advisor" pointcut-ref="pc"></aop:advisor>
    </aop:config>
</beans>