<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Article">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="insertImgPath" jdbcType="VARCHAR" property="insertimgpath" />
    <result column="publishDate" jdbcType="DATE" property="publishdate" />
    <result column="t_id" jdbcType="VARCHAR" property="tId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, insertImgPath, publishDate, t_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from f_article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Article">
    insert into f_article (id, title, content, 
      insertImgPath, publishDate, t_id
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{insertimgpath,jdbcType=VARCHAR}, #{publishdate,jdbcType=DATE}, #{tId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Article">
    insert into f_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="insertimgpath != null">
        insertImgPath,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="tId != null">
        t_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="insertimgpath != null">
        #{insertimgpath,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=DATE},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Article">
    update f_article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="insertimgpath != null">
        insertImgPath = #{insertimgpath,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=DATE},
      </if>
      <if test="tId != null">
        t_id = #{tId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Article">
    update f_article
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      insertImgPath = #{insertimgpath,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=DATE},
      t_id = #{tId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>